.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 372px;
    left: 0px;
    top: 131px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

