.App {
    --header_height: 60px;
}

.hw {
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 100px;
}

.hwTitle {
    width: 165px;
    height: 27px;
    left: 70px;
    top: 107px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 50px;

}
